* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/** Navigation */

.logo {
	width: 225px;
	position: relative;
	top: -0px;
}

nav ul li a:hover {
	border-bottom: 1px solid red;
	margin-left: 25px;
	text-align: center;
	transition: all 900ms;
}

.center-showcase {
	border-radius: 10px;
	padding: 10px 0;
}

/* Todo: clearfix */ 
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/** Gallery */ 

.images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.one-image img {
    width: 600px;
    height: 400px;
    padding: 0 20px 22px;
    transition: all 0.5s;
}

.one-image img:hover {
    transform: scale(1.1);
    /* transition: all 0.5s; */ /*? funguje to rovnako aj bez tohto riadku */
}


/** Pricelist + FORM */

.box {
    margin: 0 auto;
    /* width: 300px; */
    padding: 40px;
    text-align: center;
}

.box h1 {
    color: #000;
    font-weight: 500;
}

.box input[type="text"], .box input[type="email"], textarea{
    border: 2px solid #000;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 15px 10px;
    width: 250px ;
    color: #000;
    border-radius: 24px;
    outline: none;
}

.box input[type="text"]:focus, .box input[type="email"]:focus, textarea:focus {
    width: 300px;
    border-color: #ffc107;
    transition: all 0.25s;
}

.box .submit {
    background: none;
    border: 2px solid #000;
    padding: 14px 40px;
    width: 250px;
    border-radius: 24px;
    outline: none;
    color: #000;
    font-weight: 600;
    font-size: larger;
    cursor: pointer;
}

.box .submit:hover {
    background: #ffc107;
}

/* Form result */
.form-result{
    max-width: 30%;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 3px;
    font-weight: 600;
    color: #fff;
}

.success {
    background-color: #239b28;
}

.error {
   background-color: #a01b30; 
}